streamlit==0.73.0
pandas==1.4.2
base58==2.1.1
numpy==1.22.4
pillow==9.1.1
plotly==5.8.0
scikit-learn==1.1.1
lazypredict==0.2.9
seaborn==0.11.2
matplotlib==3.5.2
xgboost==1.6.1
lightgbm==2.3.1
pytest==7.1.2
tqdm==4.64.0
